.carousel-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .prev-button:hover,
  .next-button:hover {
    color: gray;
  }
  